@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Caveat&family=DM+Serif+Display&family=Dhurjati&family=Open+Sans&family=Permanent+Marker&family=Playfair+Display&family=Rethink+Sans:ital@1&family=Roboto&display=swap');

:root {
    --my-padding: 0.4rem
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    color: white;
    display: grid;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    gap: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header menu menu menu"
    "hero hero hero hero"
    "content1 content1 content4 content4"
    "content1 content1 content3 content3"
    "content2 content2 content2 content2"
    ;




    height: 100vh;
    text-align: center;
    text-transform: uppercase;
}

header {
    align-items: center;
    display: grid;
    background-color: black;
    grid-area: header;
    padding: var(--my-padding);
}

menu {
    align-items: center;
    display: grid;
    background-color: red;
    grid-area: menu;
    padding: var(--my-padding);
}

hero {
    align-items: center;
    display: grid;
    background-color: rgb(158, 142, 173);
    grid-area: hero;
    padding: var(--my-padding);
}


.content1 {
    align-items: center;
    display: grid;
    background-color: rgb(162, 59, 59);
    grid-area: content1;
    padding: var(--my-padding)
}

.content2 {
    align-items: center;
    display: grid;
    background-color: rgb(253, 204, 114);
    grid-area: content2;
    padding: var(--my-padding)
}

.content3 {
    align-items: center;
    display: grid;
    background-color: rgb(100, 200, 100);
    grid-area: content3;
    padding: var(--my-padding)
}

.content4 {
    align-items: center;
    display: grid;
    background-color: rgb(189, 189, 189);
    grid-area: content4;
    padding: var(--my-padding)
}





@media (max-width: 768px) {


    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 2fr 3.25fr 1fr 0.75fr;
        grid-template-areas: 
            "header header header"
            "hero hero hero"
            "menu content1 content1"
            "menu content2 content2"
            "menu content3 content4"
            ;

    }
    

@media (max-width: 480px) {

    .container {
        font-size: 1.5rem;
        color:white;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.75fr 1.25fr 2fr 1fr 1fr 1fr;
        grid-template-areas: 
            "header"
            "menu"
            "hero"
            "content1"
            "content2"
            "content3"
            "content4" ;
            
    }

}

}